<html>
        <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
            </head>
            <body>
                <form method="POST" action="/events/~{{ev_id}}/add">
                <div class="container">
                    <header class="blog-header py-3">
                        <div class="row flex-nowrap justify-content-between align-items-center">
                                <div class="col-12 text-center">
                                    <h2 class="blog-header-logo text-dark">
    
                                        <button type="submit" class="btn btn-light btn-sm float-left">Post</button>
                                        Event Page for EID: {{ev_id}}  
                                        <button type="button" class="btn btn-light btn-sm float-right click-del-new" data-href="/events">Delete</button>
                                        <hr>
                                    </h2>
                                    
                                </div>
                                
                        </div>
                    </header>
                    <main role="main" class="container">
                        <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                        
                            <div class="form-group">
                                <label for="ev_name">Event Name:</label>
                                <input class="form-control" name="ev_name" {% if ev_name %} value = "{{ev_name}}" {% endif %}>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="ev_des">Event Description:</label>
                                <textarea class="form-control" rows="3" name="ev_des">{% if ev_des %}{{ev_des}}{% endif %}</textarea>
                            </div>
                            <hr>            
                            <div class="form-group">
                                <label for="grp_id">Student Group Involved:</label>
                                <select multiple class="form-control" name="grp_id">
                                    {% if stu_grp %}
                                    {% for n in stu_grp %}
                                    <option value = "{{n}}" {% if stu_grp[n]['grp_name'] in group_names %} selected {% endif %}>{{n}} | {{stu_grp[n]['grp_name']}}</option>
                                    {% endfor %}
                                    {% endif %}
                            
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for ="fac_id">Faculty Attending:</label>
                                <select multiple class="form-control" name="fac_id">
                                    {% if fac_att %}
                                    {% for n in fac_att %}
                                    <option value = "{{n}}" {% if n in faculty %} selected {% endif %}>{{n}} | {{fac_att[n]['fac_name']}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for ="sch_id">Partner Institutions:</label>
                                <select multiple class="form-control" name="sch_id">
                                    {% if pat_ins %}
                                    {% for n in pat_ins %}
                                    <option value = "{{n}}" {% if pat_ins[n]['sch_name'] in sch_name %} selected {% endif %}>{{n}} | {{pat_ins[n]['sch_name']}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for ="top_id">Keywords (Please start every keywords with a #):</label>
                                <textarea class="form-control" rows="3" name="top_id">{% if key_name %}{%for n in key_name%}#{{n}} {% endfor %}{% endif %}</textarea>
                            </div>
                            <div class="form-group">
                                <label for ="photo"> Photos: </label>
                                <input class="form-control" name="photo" {% if photos %} value = "{{photo}}" {% endif %}>
                            </div>
                            <div class="form-group">
                                <label for="notes"> Notes:</label>
                                <textarea class="form-control" rows="3" name="notes">{% if notes %}{{notes}}{% endif %}</textarea>
                            </div>
                        
                    </div>
                    <aside class="col-md-4 blog-sidebar">
                            <div class="p-2 mb-2 bg-light rounded">
                                <div class="form-group">
                                    <label for="term">Term</label>
                                    <input type="form-control" name="term" {% if term %} value="{{term}}" {% endif %}>
                                </div>
                                <hr>
                                    <div class="form-group">
                                            <label for="day_start">Start Date:</label>
                                            <input type="date" class="form-control" name="day_start" {% if day_start %} value="{{day_start}}" {% endif %}>
                                        </div><hr>
                                        <div class="form-group">
                                            <label for="day_end">End Date:</label>
                                            <input type="date" class="form-control" name="day_end" {% if day_end %} value="{{day_end}}" {% endif %}>
                                        </div>
                            </div>
                            <div class="p-2">
                                <div class="form-group">
                                    <label for="time_per_session">Time per Session (hr):</label>
                                    <input class="form-control" name="time_per_session" {% if time_per_session %} value="{{time_per_session}}" {% endif %}>
                                </div>
                                <hr>
                                <div>
                                        <label for="total_time">Total Time (hr):</label>
                                        <input class="form-control" name="total_time" {% if total_time %} value="{{total_time}}" {% endif %} >
                                </div>
                                
                            </div>
                            <div class="p-2 mb-2 bg-light rounded">
                                <div>
                                    <label for="ev_type">Event Type</label>
                                    <select class="form-control" name="ev_type">
                                        <option value="event">Event</option>
                                        <option value="program">Program</option>
                                    </select>
                                    
                                </div>
                                    <div class="form-group">
                                            <label for="general_act">General Activity</label>
                                            <select class="form-control" name="general_act">
                                                <option value = "general">general</option>
                                            </select>
                                        </div><hr>
                                        <div class="form-group">
                                            <label for="specific_act">Specific Activity:</label>
                                            <select class="form-control" name="specific_act">
                                                <option value ="specific">specific</option>
                                            </select>
                                        </div>
                                    <div class="form-group">
                                        <lable for="admin">Administrators</lable>
                                        <select class="form-control" name="admin" multiple>
                                            {% if admin %}
                                            {% for n in admin %}
                                            <option value="{{n}}" {% if n in admin_name %} selected {% endif %}>{{admin[n]}}</option>
                                            {% endfor %}
                                            {% endif %}
                                        </select>
                                    </div>
                            </div>
    
                        </aside>
                    </div>
                    </main>
                </div>
            
                    
                </div>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
                <script>
                    jQuery(document).ready(function($) {
                        $(".click-del-new").click(function() {
                            window.location = $(this).data("href");
                        });
                    });

                </script>
                </form>
            </body>
        
</html>