<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
    <body id="home-page">
            {% include 'navigation-bar.html' %}
        <!----<nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand ml-2" href="/">XENIA</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

          
            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="form-inline m-0" role="search" method="get" action="/search">
                    <input id= "query" type="text" class="form-control mr-sm-2" name="query" placeholder="add search if needed">
                    <button id= "search_submit" type="submit" class="btn btn-secondary">Search</button>
                </form>
                <ul class="nav navbar-nav ml-auto">
                
                  
                    {% if loggedIn %}
                        <li class="nav-item">
                            <a class="nav-link" href= ""></a>
                        </li>
                        <li class="nav-item dropdown mr-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; {{loggedIn.stu_grp.grp_name}}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile/~{{loggedIn.stu_grp.grp_id}}/">Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="logout" href="/logout/">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log out
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item mr-sm-2">
                            <a class="nav-link" id="login" href="/login/">
                                <i class="fa fa-sign-in"></i>&nbsp; Log in
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signup" href="/signup/">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Student Group Register
                            </a>
                        </li>
                    {% endif %}
                    </li>
                </ul>
            </div>  
        </nav> -->
        <div class="home-logo"></div>

        {% from "_formhelpers.html" import render_field %}
        <div class="container search-bar">
            <i class="fa fa-search"></i>
            <form class="m-0 search-content" role="search" method="POST">
                <!-- <input id= "search_input" type="text" class="form-control mr-sm-2" name="query" placeholder="enter any keyword to search"> -->
                {{ render_field(form.searchText, class="search-content input-lg", placeholder="Enter any keyword to search") }}
                <!-- <button id= "search_submit" type="submit" class="btn btn-secondary">Search</button> -->
            </form>
        </div>
        <!-- <div class="border-top border-dark rounded-bottom"></div> -->

        <!-- main functionality -->
        <div class="container">
            <div class="row home-options">
                <div class="col-md-4">
                    <a href="/events/new" role="button" class="btn btn-primary btn-lg btn-block">Add New Event</a>
                </div>
                <div class="col-md-4">
                    <a href="/events" role="button" class="btn btn-primary btn-lg btn-block">View Past Events</a>
                </div>
                <div class="col-md-4">
                    <a href="/student_groups" role="button" class="btn btn-primary btn-lg btn-block">View Student Groups</a>
                </div>
            </div>
        </div>

    </body>
</html>