<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css')}}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
</head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">

            <a class="navbar-brand" href="/">XENIA</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topNavBar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
                <form class="form-inline" role="search" method="get" action="/search">
                    <input id= "query" type="text" class="form-control mr-sm-2" name="query" placeholder="add search if needed">
                    <button id= "search_submit" type="submit" class="btn btn-secondary">Search</button>
                </form>
                <ul class="nav navbar-nav ml-auto">
                
                    <!-- need implementation -->
                    {% if loggedIn == True %}
                        <li class="nav-item">
                            <a class="nav-link" href= ""></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Log out
                            </a>
                        </li>
                        
                    {% else %}
                        <li class="nav-item mr-sm-2">
                            <a class="nav-link" id="login" href="/login/">
                                <i class="fa fa-sign-in"></i>&nbsp; Log in
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="signup" href="/signup/">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Student Group Register
                            </a>
                        </li>
                    {% endif %}
                    </li>
                </ul>
            </div>
            <!-- <div class="jumbotron home-logo"></div> -->
        </nav>
        <div class="jumbotron home-logo"></div>

        <!-- main functionality -->
        <div class="container">
            <div class="row home-options">
                <div class="col-md-4">
                    <a href="/events/new" role="button" class="btn btn-primary btn-lg btn-block">Add New Event</a>
                </div>
                <div class="col-md-4">
                    <a href="/events" role="button" class="btn btn-primary btn-lg btn-block">View Past Events</a>
                </div>
                <div class="col-md-4">
                    <a href="/student_groups" role="button" class="btn btn-primary btn-lg btn-block">View Student Groups</a>
                </div>
            </div>
        </div>

    </body>
</html>