<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a class="navbar-brand" href="/">XENIA</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topNavBar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Items -->
    <div class="collapse navbar-collapse" id="topNavBar">
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="user_profile">
                    <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp; Profile
                </a>
            </li>
        </ul>
    </div>
</nav>