<html>
        <head>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    
            </head>
            <body>
                    {% include 'navigation-bar.html' %}
                <form method="POST" action="/partners/add">
                <div class="container">
                    <header class="blog-header py-3">
                        <div class="row flex-nowrap justify-content-between align-items-center">
                                <div class="col-12 text-center">
                                    <h2 class="blog-header-logo text-dark">
    
                                        <button type="submit" class="btn btn-light btn-sm float-left" dat-href="/partners/add">Post</button>
                                        {% if part_name %}
                                        {{part_name}} 
                                        {% else %}
                                        Add New Partner Insititution
                                        {% endif %}
                                        <button type="button" class="btn btn-light btn-sm float-right click-red" {% if part_id %} data-href = "/partners/-{{part_id}}/del_partner" {% else %} data-href = "/partners" {% endif %}>Delete</button>
                                        <hr>
                                    </h2>
                                    
                                </div>
                                
                        </div>
                    </header>
                    <main role="main" class="container">
                        <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                            <div class="form-group">
                                <label for="part_id">Partner ID:</label>
                                <input attern="[a-zA-Z0-9]+" class="form-control" required="required" aria-required="true" name="part_id" {% if part_id %} value = "{{part_id}}" readonly="readonly"{% endif %}>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="part_name">Partner Name:</label>
                                <input class="form-control" required="required" aria-required="true" name="part_name" {% if part_name %} value = "{{part_name}}" {% endif %}>
                            </div>
                            <hr>       
                            
                        
                    </div>
                    <aside class="col-md-4 blog-sidebar">
                            <div class="p-2 mb-2 bg-light rounded">
                                    <div class="form-group">
                                            <label for ="location">Location:</label>
                                            <input disabled class="form-control" name="location" {% if location %} value = "{{location}}" {% endif %}>
                                        </div>
                               
                                    
                            </div>
                            
    
                        </aside>
                    </div>
                    </main>
                </div>
            
                    
                </div>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
                <script>
                    jQuery(document).ready(function($) {
                        $(".click-red").click(function() {
                            window.location = $(this).data("href");
                        });
                    });

                </script>
                </form>
            </body>
        
</html>