<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-12 text-center">
                            <h2 class="blog-header-logo text-dark">
                                <button type="button" class="btn btn-light btn-sm float-left click-red" data-href="/partners/-{{part_id}}/edit_partner">Edit</button>
                                Partner ID: {{part_id}}
                                <button type="button" class="btn btn-light btn-sm float-right click-red" data-href="/partners/-{{part_id}}/del_partner">Delete</button>
                                <hr>
                            </h2>
                            
                        </div>
                        
                </div>
            </header>
            <main role="main" class="container">
                <div class="row">
                    <div class="col-md-8 blog-main">
                        <div class="blog-post">
                            <p> 
                                <p><b>Name:</b></p> 
                                <p>{{part_name}}</p>
                            </p>
                            
                            
                            <hr>
                            <p>
                                    {% if events %}
                                    <p><b>Events:</b></p>

                                            <table class="table table-light">
                                <thead>
                                    <tr>
                                        <th scope="col">Event ID</th>
                                        <th scope="col">Event Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    {% for n in events %}
                                    <tr class='click-red' data-href="/events/~{{n}}">
                                        <td>{{n}}</td>
                                        <td>{{events[n]['ev_name']}}</td>
                                        <td>{{events[n]['day_start']}}</td>
                                        <td>{{events[n]['day_end']}}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                                    {% else %}
                                    <p><b>This faculty has not participated in any event</b></p>
                                    {% endif %}
                                </p>
                                
                        </div>
                    </div>
                    <aside class="col-md-4 blog-sidebar">
                            <div class="p-3 mb-3 bg-light rounded">
                                    {% if location %}
                                    
                                    <p><b>Location:</b></p>
                                    <p>{{location}}</p>
                                    {% else %}
                                    
                            <p><b>There's no recorded location</b></p>
                            {% endif %}
                            </div>
    
                        </aside>
                    
                </div>
            </main>
        </div>
    
            
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>
            jQuery(document).ready(function($) {
                $(".click-red").click(function() {
                    window.location = $(this).data("href");
                });
            });
        </script>
    </body>

</html>