body#home-page {
    background-color: rgb(108,172,228);
    color: rgb(2,33,105);
}

.home-logo {
	background-image: url('https://outreach.engineering.columbia.edu/sites/default/files/logo/outreach-programs.jpg') !important;
	margin-bottom: 0px; 
	padding-top: 10%; 
	background-position: 5% 0%; 
	/*background-size: contain;*/
	background-color: white; 
	background-repeat: no-repeat; 
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.home-options {
	padding-top: 100px;
}

.search-bar {
	background: #fff;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    height: 44px;
    margin: 50px auto 0;
}

.fa-search {
	float: left;
	margin-top: 12px;
}

.search-content {	
	padding-left: 15px;
    border: none;
    width: 100%
}

.search-content:focus {
	outline: none;
}

.input-lg {
    font-size: 18px;
    line-height: 1.3333333;
}